<h2>Welcome</h2>

<form action="/repositories">
  <label for="fine_grained_access_token">Fine Grained Access Token</label>
  <input type="text" id="fine_grained_access_token" name="fine_grained_access_token">
  <input type="submit" value="Submit">
</form>
